    <script src="/node/vue/dist/vue.js"></script>
    <script src="/node/lockr/lockr.min.js"></script>
    <script type="text/x-template" id="calender"><% include calender.html %></script>
    <script src="/js/home.js"></script>
    <script src="/js/crypto-js.min.js" defer></script>
    <script src="/node/smoothscroll-polyfill/dist/smoothscroll.min.js" defer></script>
  </body>
</html>
